.navSection {
    display: flex;
    position: relative;
    justify-content: flex-end;
    max-width: 200px;
    direction: rtl;
}


.navItem {
    text-align: justify;
}

#menuButton {
    position: relative;
    display: block;
    border: none;
    background: none;
    text-align: justify;
    z-index: 1100;
    margin-right: 20px;
}

.menu {
    direction: ltr;
    position: absolute;
    top: 30px;
    right: 0;
    display: none;
    list-style: none;
    padding: 10px;
    z-index: 1000;
    background-color: #272626;
    border: 1px solid #272626;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
}

.menu.show {
    display: block;
    max-width: 200px;
    max-height: 400px;
    margin-inline-start: 50px;
    margin-inline-end: 50px;
}

.menu li {
    padding: 8px 12px;
}

.menu li:hover {
    background-color: #741616;
}

a {
    color: #fff;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}