body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #272626;
    align-content: center;
}

main {
    text-align: center;
}

.container1 {
    width: 900px;
    height: 600px;
    background-color: #741616;
    margin: 100px 300px 300px 300px;
}

h2 {
    padding: 50px;
}

.content1 {
    text-align: justify;
    margin-left: 50px;
    margin-right: 50px;
}

.content2 {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-between;
    text-align: center;
    margin: 100px 150px 200px 150px;
}